In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Online_news_scrapping/news_data2.csv')
df

     Unnamed: 0   Category                                               News
0             0  Political  When a Twitter user defended Prime Minister KP...
1             1  Political  Kathmandu, January 7Police in Kathmandu have a...
2             2  Political  Saptari, January 7Some personnel of the Indian...
3             3  Political  Kathmandu, January 7Nepal’s Minister for Forei...
4             4  Political  Kathmandu, January 6As many as 12 persons and ...
..          ...        ...                                                ...
235         235     Travel  Multiethnic Nepal is widely popular among tour...
236         236     Travel  Kathmandu, October 23A Bahraini expedition led...
237         237     Travel  Kathmandu, October 22The Khumbu Pasanglhamu ru...
238         238     Travel  Kathmandu, October 16Ghandruk, a village in Ka...
239         239     Travel  Kathmandu, October 16In yet another good news ...

[240 rows x 3 columns]

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Online_news_scrapping/news_data2.csv', index_col=0)
df

      Category                                               News
0    Political  When a Twitter user defended Prime Minister KP...
1    Political  Kathmandu, January 7Police in Kathmandu have a...
2    Political  Saptari, January 7Some personnel of the Indian...
3    Political  Kathmandu, January 7Nepal’s Minister for Forei...
4    Political  Kathmandu, January 6As many as 12 persons and ...
..         ...                                                ...
235     Travel  Multiethnic Nepal is widely popular among tour...
236     Travel  Kathmandu, October 23A Bahraini expedition led...
237     Travel  Kathmandu, October 22The Khumbu Pasanglhamu ru...
238     Travel  Kathmandu, October 16Ghandruk, a village in Ka...
239     Travel  Kathmandu, October 16In yet another good news ...

[240 rows x 2 columns]

In [ ]:
data_len = len(df)
train_data = int(data_len*0.8) 
print(train_data)
test_data = data_len - train_data
print(test_data)
data_len

192
48

240

In [ ]:
train_tag = df['Category'][:train_data]
train_post = df['News'][:train_data]

test_tag = df['Category'][train_data:]
test_post = df['News'][train_data:]

In [ ]:
import numpy as np
from keras.layers import Activation, Dense, Dropout
from keras.models import Sequential
from sklearn.preprocessing import LabelBinarizer
from keras.preprocessing.text import Tokenizer

In [ ]:
num_labels = 4       
vocab_size = 150    
batch_size = 50

tokenizer = Tokenizer(num_words = vocab_size)
tokenizer.fit_on_texts(train_post)

x_train = tokenizer.texts_to_matrix(train_post,mode='tfidf')
x_test = tokenizer.texts_to_matrix(test_post,mode ='tfidf')

encoder = LabelBinarizer()
encoder.fit(train_tag)

y_train = encoder.transform(train_tag)
y_test = encoder.transform(test_tag)

In [ ]:
model = Sequential()
model.add(Dense(512,input_shape = (vocab_size,)))
model.add(Activation('relu'))
model.add(Dropout(0.3))

model.add(Dense(256))
model.add(Activation('relu'))
model.add(Dropout(0.3))

model.add(Dense(num_labels))
model.add(Activation('softmax'))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 512)               77312
_________________________________________________________________
activation (Activation)      (None, 512)               0
_________________________________________________________________
dropout (Dropout)            (None, 512)               0
_________________________________________________________________
dense_1 (Dense)              (None, 256)               131328
_________________________________________________________________
activation_1 (Activation)    (None, 256)               0
_________________________________________________________________
dropout_1 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 1028
_________________________________________________________________
activation_2 (Activation)    (None, 4)                 0
=================================================================
Total params: 209,668
Trainable params: 209,668
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss = 'categorical_crossentropy',
             optimizer = 'adam',
             metrics = ['accuracy'])

In [ ]:
history = model.fit(x_train,y_train,epochs = 25,validation_split = 0.1)

Epoch 1/25
6/6 [==============================] - 1s 83ms/step - loss: 1.0505 - accuracy: 0.5801 - val_loss: 3.8853 - val_accuracy: 0.3000
Epoch 2/25
6/6 [==============================] - 0s 9ms/step - loss: 0.3095 - accuracy: 0.8957 - val_loss: 5.1271 - val_accuracy: 0.3000
Epoch 3/25
6/6 [==============================] - 0s 9ms/step - loss: 0.0955 - accuracy: 0.9875 - val_loss: 5.9639 - val_accuracy: 0.3000
Epoch 4/25
6/6 [==============================] - 0s 9ms/step - loss: 0.0531 - accuracy: 0.9881 - val_loss: 6.6359 - val_accuracy: 0.3000
Epoch 5/25
6/6 [==============================] - 0s 11ms/step - loss: 0.0202 - accuracy: 1.0000 - val_loss: 7.0421 - val_accuracy: 0.3000
Epoch 6/25
6/6 [==============================] - 0s 10ms/step - loss: 0.0074 - accuracy: 1.0000 - val_loss: 7.2815 - val_accuracy: 0.3000
Epoch 7/25
6/6 [==============================] - 0s 9ms/step - loss: 0.0067 - accuracy: 1.0000 - val_loss: 7.4767 - val_accuracy: 0.3000
Epoch 8/25
6/6 [==============================] - 0s 9ms/step - loss: 0.0091 - accuracy: 1.0000 - val_loss: 7.5698 - val_accuracy: 0.3000
Epoch 9/25
6/6 [==============================] - 0s 9ms/step - loss: 0.0044 - accuracy: 1.0000 - val_loss: 7.7215 - val_accuracy: 0.3000
Epoch 10/25
6/6 [==============================] - 0s 9ms/step - loss: 0.0016 - accuracy: 1.0000 - val_loss: 7.8673 - val_accuracy: 0.3000
Epoch 11/25
6/6 [==============================] - 0s 9ms/step - loss: 0.0019 - accuracy: 1.0000 - val_loss: 7.9914 - val_accuracy: 0.3000
Epoch 12/25
6/6 [==============================] - 0s 10ms/step - loss: 0.0016 - accuracy: 1.0000 - val_loss: 8.0933 - val_accuracy: 0.3000
Epoch 13/25
6/6 [==============================] - 0s 10ms/step - loss: 0.0032 - accuracy: 1.0000 - val_loss: 8.1913 - val_accuracy: 0.3000
Epoch 14/25
6/6 [==============================] - 0s 9ms/step - loss: 0.0017 - accuracy: 1.0000 - val_loss: 8.2218 - val_accuracy: 0.3000
Epoch 15/25
6/6 [==============================] - 0s 10ms/step - loss: 0.0018 - accuracy: 1.0000 - val_loss: 8.2788 - val_accuracy: 0.3000
Epoch 16/25
6/6 [==============================] - 0s 29ms/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 8.3284 - val_accuracy: 0.3000
Epoch 17/25
6/6 [==============================] - 0s 9ms/step - loss: 6.2570e-04 - accuracy: 1.0000 - val_loss: 8.3644 - val_accuracy: 0.3000
Epoch 18/25
6/6 [==============================] - 0s 9ms/step - loss: 0.0014 - accuracy: 1.0000 - val_loss: 8.4199 - val_accuracy: 0.3000
Epoch 19/25
6/6 [==============================] - 0s 9ms/step - loss: 0.0010 - accuracy: 1.0000 - val_loss: 8.4601 - val_accuracy: 0.3000
Epoch 20/25
6/6 [==============================] - 0s 9ms/step - loss: 9.2463e-04 - accuracy: 1.0000 - val_loss: 8.4926 - val_accuracy: 0.3000
Epoch 21/25
6/6 [==============================] - 0s 9ms/step - loss: 6.8844e-04 - accuracy: 1.0000 - val_loss: 8.5275 - val_accuracy: 0.3000
Epoch 22/25
6/6 [==============================] - 0s 10ms/step - loss: 7.5126e-04 - accuracy: 1.0000 - val_loss: 8.5471 - val_accuracy: 0.3000
Epoch 23/25
6/6 [==============================] - 0s 9ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 8.5224 - val_accuracy: 0.3000
Epoch 24/25
6/6 [==============================] - 0s 9ms/step - loss: 3.7603e-04 - accuracy: 1.0000 - val_loss: 8.5193 - val_accuracy: 0.3000
Epoch 25/25
6/6 [==============================] - 0s 9ms/step - loss: 4.3414e-04 - accuracy: 1.0000 - val_loss: 8.5389 - val_accuracy: 0.3000

In [ ]:
# saving the model

import pickle
model.save('/content/drive/MyDrive/Online_news_scrapping/online_news.h5')
with open('tokenizer.pickle','wb') as f:
  pickle.dump(tokenizer,f,protocol = pickle.HIGHEST_PROTOCOL)
# pickle chai serialization ko lagi chahincha

In [ ]:
# loading the model
from keras.models import load_model
model = load_model('/content/drive/MyDrive/Online_news_scrapping/online_news.h5')

# tokenizer = Tokenizer()
# aba read mode ma kholne
# model testing ko lagi
with open('tokenizer.pickle','rb') as f:
  tokenizers = pickle.load(f)

In [ ]:
encoder.classes_

array(['Business', 'Lifestyle', 'Political', 'Travel'], dtype='<U9')

In [ ]:
labels = np.array(['Business', 'Lifestyle', 'Political', 'Travel'])

In [ ]:
#test_files = ['/content/drive/MyDrive/Online_news_scrapping/business_news.txt']
test_files = ['/content/drive/MyDrive/Online_news_scrapping/political_news.txt']

In [ ]:
from pathlib import Path
import pandas as pd
x_data = []
for text_file in test_files:
  text_file_data = Path(text_file).read_text()
  x_data.append(text_file_data)

x_data_series = pd.Series(x_data)
#x_data_series
# yesma queue ma huncha ra teslai tokenize garnu parcha

x_tokenized = tokenizer.texts_to_matrix(x_data_series, mode = 'tfidf')
x_tokenized

array([[0.        , 1.44920332, 1.17360019, 0.69055315, 0.70914752,
        1.51746749, 1.51152363, 0.        , 0.        , 0.74357803,
        0.902455  , 0.        , 0.        , 1.02165125, 0.        ,
        0.        , 0.        , 0.        , 0.9070171 , 0.        ,
        0.        , 0.88905758, 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.03977179, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.16530366, 0.        , 0.        , 1.00994665, 0.        ,
        0.        , 0.        , 0.        , 1.18136625, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.34117393, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.02761474, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.54592451, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.6983854 , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ]])

In [ ]:
# for prediction
for x_t in x_tokenized:
  prediction = model.predict(np.array([x_t]))
  print(prediction)
  predicted_label = np.argmax(prediction)
  print(predicted_label)
  predicted_label = labels[np.argmax(prediction)]
  print(predicted_label)

[[0.7971865  0.05375449 0.13469364 0.01436536]]
0
Business